/* Body */

body{
    background-color: #F7F9FA;
}

/* Navbar */

#navbarNav > ul > li.nav-item {
    font-size: 1.3rem;
    /* padding-left: 5%; */
    color: black;
}

a.navbar-brand {
    font-size: 1.5rem;
    padding-left: 5%;
}